<%- include("header") -%>
    <main>
        <!-- button/adder -->
        <div class="mainDivX">
            <%- include("adder") -%>
        </div>

        <%for (let index=0; index < iterationNumber; index++) {%>
            <div class="mainDiv">
                <div>
                    <h2 class="display-5">
                        <%= allWaterInstancesM[index].name %>
                    </h2>
                    <p class="lead">
                        <%= allWaterInstancesM[index].type %>
                    </p>
                </div>
                <table>
                    <td>
                        <img src="<%= allWaterInstancesM[index].imgUrl %>" alt="Best there is">
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Initial taste</td>
                                <td>
                                    <%for (let index1=0; index1 < allWaterInstancesM[index].rating.IT; index1++) {%>
                                        ⚫
                                        <%}%>
                                            <%for (let index2=allWaterInstancesM[index].rating.IT; index2 < 5; index2++)
                                                {%>
                                                ⚪
                                                <%}%>
                                </td>
                            </tr>
                            <tr>
                                <td>Taste after 8h</td>
                                <td>
                                    <%for (let index1=0; index1 < allWaterInstancesM[index].rating.TA8H; index1++) {%>
                                        ⚫
                                        <%}%>
                                            <%for (let index2=allWaterInstancesM[index].rating.TA8H; index2 < 5;
                                                index2++) {%>
                                                ⚪
                                                <%}%>
                                </td>
                            </tr>
                            <tr>
                                <td>Bottle quality</td>
                                <td>
                                    <%for (let index1=0; index1 < allWaterInstancesM[index].rating.BQ; index1++) {%>
                                        ⚫
                                        <%}%>
                                            <%for (let index2=allWaterInstancesM[index].rating.BQ; index2 < 5; index2++)
                                                {%>
                                                ⚪
                                                <%}%>
                                </td>
                            </tr>
                            <tr>
                                <td>Bottle design</td>
                                <td>
                                    <%for (let index1=0; index1 < allWaterInstancesM[index].rating.BD; index1++) {%>
                                        ⚫
                                        <%}%>
                                            <%for (let index2=allWaterInstancesM[index].rating.BD; index2 < 5; index2++)
                                                {%>
                                                ⚪
                                                <%}%>
                                </td>
                            </tr>
                        </table>
                    </td>
                </table>
            </div>
            <%}%>
    </main>

    <%- include("message") -%>