<%- include("header") -%>
    <main>
        <!-- button/adder -->
        <div class="mainDivX">
            <%- include("adder") -%>
        </div>

        <%for (let index=0; index < iterationNumber; index++) {%>
            <div class="mainDiv">
                <div>
                    <h2 class="display-5">
                        <%= allWaterInstancesM[index].name %>
                    </h2>
                    <p class="lead">
                        <%= allWaterInstancesM[index].type %>
                    </p>
                </div>
                <table>
                    <td>
                        <img src="<%= allWaterInstancesM[index].imgUrl %>" alt="Best there is">
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Smak po otwarciu butelki</td>
                                <td>
                                    <%for (let index1=0; index1 < allWaterInstancesM[index].rating.SPOB; index1++) {%>
                                        ⚫
                                    <%}%>
                                    <%for (let index2=allWaterInstancesM[index].rating.SPOB; index2 < 5; index2++) {%>
                                        ⚪
                                    <%}%>
                                </td>
                            </tr>
                            <tr>
                                <td>Smak po 8h</td>
                                <td>
                                    <%for (let index1=0; index1 < allWaterInstancesM[index].rating.SP8H; index1++) {%>
                                        ⚫
                                    <%}%>
                                    <%for (let index2=allWaterInstancesM[index].rating.SP8H; index2 < 5; index2++) {%>
                                        ⚪
                                    <%}%>
                                </td>
                            </tr>
                            <tr>
                                <td>Jakość butelki</td>
                                <td>
                                    <%for (let index1=0; index1 < allWaterInstancesM[index].rating.JB; index1++) {%>
                                        ⚫
                                    <%}%>
                                    <%for (let index2=allWaterInstancesM[index].rating.JB; index2 < 5; index2++) {%>
                                        ⚪
                                    <%}%>
                                </td>
                            </tr>
                            <tr>
                                <td>Design butelki</td>
                                <td>
                                    <%for (let index1=0; index1 < allWaterInstancesM[index].rating.DB; index1++) {%>
                                        ⚫
                                    <%}%>
                                    <%for (let index2=allWaterInstancesM[index].rating.DB; index2 < 5; index2++) {%>
                                        ⚪
                                    <%}%>
                                </td>
                            </tr>
                        </table>
                    </td>
                </table>
            </div>
            <%}%>
    </main>