<%- include("header") -%>
    <main>
        <!-- button/adder -->
        <% if(usageMode !=='revievView' ){ %>
            <div class="mainDivX">
                <%- include("adder") -%>
            </div>
            <% }else{%>
                <div class="center">
                    <h2 class="display-5">
                        <%=  waterNameInReview %>
                    </h2>
                    
                    <p class="lead">
                        <%=  waterTypeInReview %>
                    </p>
                    <img src="<%=waterImgInReview%> " alt="picture">
                </div>
                <br>
                <hr>
                <% } %>

                    <%for (let index=0; index < iterationNumber; index++) {%>
                        <div class="mainDiv">
                            <div>
                                <% if(usageMode==='revievView' ){ %>

                                    <p class="lead">
                                        Submited by: <%= allWaterInstancesM[index].grader %>
                                    </p>
                                    <% } %>
                                        <h2 class="display-5">
                                            <%= allWaterInstancesM[index].name %>
                                        </h2>
                                        <p class="lead">
                                            <%= allWaterInstancesM[index].type %>
                                        </p>
                            </div>
                            <table style="
                        margin-left: auto; 
                        margin-right: auto;">
                                <% if(usageMode !=='revievView' ){ %>
                                    <td>
                                        <img src="<%= allWaterInstancesM[index].imgUrl %>" alt="Best there is">
                                    </td>
                                    <% } %>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>Initial taste</td>
                                                    <td>
                                                        <%for (let index1=0; index1 <
                                                            allWaterInstancesM[index].rating.IT; index1++) {%>
                                                            ⚫
                                                            <%}%>
                                                                <%for (let index2=allWaterInstancesM[index].rating.IT;
                                                                    index2 < 5; index2++) {%>
                                                                    ⚪
                                                                    <%}%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Taste after 8h</td>
                                                    <td>
                                                        <%for (let index1=0; index1 <
                                                            allWaterInstancesM[index].rating.TA8H; index1++) {%>
                                                            ⚫
                                                            <%}%>
                                                                <%for (let index2=allWaterInstancesM[index].rating.TA8H;
                                                                    index2 < 5; index2++) {%>
                                                                    ⚪
                                                                    <%}%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Bottle quality</td>
                                                    <td>
                                                        <%for (let index1=0; index1 <
                                                            allWaterInstancesM[index].rating.BQ; index1++) {%>
                                                            ⚫
                                                            <%}%>
                                                                <%for (let index2=allWaterInstancesM[index].rating.BQ;
                                                                    index2 < 5; index2++) {%>
                                                                    ⚪
                                                                    <%}%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Bottle design</td>
                                                    <td>
                                                        <%for (let index1=0; index1 <
                                                            allWaterInstancesM[index].rating.BD; index1++) {%>
                                                            ⚫
                                                            <%}%>
                                                                <%for (let index2=allWaterInstancesM[index].rating.BD;
                                                                    index2 < 5; index2++) {%>
                                                                    ⚪
                                                                    <%}%>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                            </table>

                            <% if(usageMode !=='revievView' ){ %>
                                <form action="showOrDeleteInstances" method="post">
                                    <button type="submit" name="instance_id"
                                        value="<%=allWaterInstancesM[index]._id%>">Delete</button>
                                </form>
                                <% }else{ %>
                                    <div>
                                        Their opinion:
                                        <br>
                                        <%=allWaterInstancesM[index].opinion%>
                                    </div>
                                    <%}%>
                        </div>
                        <%}%>
    </main>

    <%- include("message") -%>