<%-include("header",{darkModeEnabled2M:darkModeEnabledM}) -%>
    <main class="fithw">
        <% if (loggedUserM!=='' ) {%>
            <div class="myflex">
                <div class="mainDiv">
                    <h2 class="display-5">
                        <%= NameM %>
                    </h2>
                    <p class="lead">
                        <%= TypeM %>
                    </p>

                    <form action="addReview" method="post">
                        <input type="hidden" name="instance_id" value="<%=instance_idM%>" />
                        <table>
                            <td>
                                <img src="<%= ImageM %>">
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>Initial taste</td>
                                        <td>
                                            <input type="range" name="IT" min="0" max="5" value="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Taste after 8h</td>
                                        <td>
                                            <input type="range" name="TA8H" min="0" max="5" value="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bottle quality</td>
                                        <td>
                                            <input type="range" name="BQ" min="0" max="5" value="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bottle design</td>
                                        <td>
                                            <input type="range" name="BD" min="0" max="5" value="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mineral content</td>
                                        <td>
                                            <input type="range" name="MC" min="0" max="5" value="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Price</td>
                                        <td>
                                            <input type="range" name="P" min="0" max="5" value="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Availability</td>
                                        <td>
                                            <input type="range" name="A" min="0" max="5" value="0">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </table>
                        <div class="mainDiv">
                            <button type="submit">Post review</button>
                        </div>
                    </form>
                </div>
            </div>
            <% }else{%>
                <div class="myflex">
                    <div class="mainDiv">
                        <h2 class="display-5">
                            <%= NameM %>
                        </h2>
                        <p class="lead">
                            <%= TypeM %>
                        </p>
                    
                        <% if(darkModeEnabledM===true){%> 
                            <img src="<%= ImageM %>" class="clearFilter">
                            <% }else{ %>
                                <img src="<%= ImageM %>">
                                <% } %>
                    </div>
                </div>
                <% } %>

                    <br>
                    <hr>
                    <!-- down to here it should be a review adder -->
                    <!-- can separate them to 2 ejss -->
                    <!-- up to here it should be a review lister -->
                    <div class="myflex">
                        <%for (let index=0; index < allReviewInstancesM.length; index++) {%>
                            <div class="mainDiv">
                                <table>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>Initial taste</td>
                                                <td>
                                                    <%for (let index1=0; index1 < allReviewInstancesM[index].rating.IT;
                                                        index1++) {%>
                                                        ⚫
                                                        <%}%>
                                                            <%for (let index2=allReviewInstancesM[index].rating.IT;
                                                                index2 < 5; index2++) {%>
                                                                ⚪
                                                                <%}%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Taste after 8h</td>
                                                <td>
                                                    <%for (let index1=0; index1 <
                                                        allReviewInstancesM[index].rating.TA8H; index1++) {%>
                                                        ⚫
                                                        <%}%>
                                                            <%for (let index2=allReviewInstancesM[index].rating.TA8H;
                                                                index2 < 5; index2++) {%>
                                                                ⚪
                                                                <%}%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Bottle quality</td>
                                                <td>
                                                    <%for (let index1=0; index1 < allReviewInstancesM[index].rating.BQ;
                                                        index1++) {%>
                                                        ⚫
                                                        <%}%>
                                                            <%for (let index2=allReviewInstancesM[index].rating.BQ;
                                                                index2 < 5; index2++) {%>
                                                                ⚪
                                                                <%}%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Bottle design</td>
                                                <td>
                                                    <%for (let index1=0; index1 < allReviewInstancesM[index].rating.BD;
                                                        index1++) {%>
                                                        ⚫
                                                        <%}%>
                                                            <%for (let index2=allReviewInstancesM[index].rating.BD;
                                                                index2 < 5; index2++) {%>
                                                                ⚪
                                                                <%}%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Mineral content</td>
                                                <td>
                                                    <%for (let index1=0; index1 < allReviewInstancesM[index].rating.MC;
                                                        index1++) {%>
                                                        ⚫
                                                        <%}%>
                                                            <%for (let index2=allReviewInstancesM[index].rating.MC;
                                                                index2 < 5; index2++) {%>
                                                                ⚪
                                                                <%}%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Price</td>
                                                <td>
                                                    <%for (let index1=0; index1 < allReviewInstancesM[index].rating.P;
                                                        index1++) {%>
                                                        ⚫
                                                        <%}%>
                                                            <%for (let index2=allReviewInstancesM[index].rating.P;
                                                                index2 < 5; index2++) {%>
                                                                ⚪
                                                                <%}%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Availability</td>
                                                <td>
                                                    <%for (let index1=0; index1 < allReviewInstancesM[index].rating.A;
                                                        index1++) {%>
                                                        ⚫
                                                        <%}%>
                                                            <%for (let index2=allReviewInstancesM[index].rating.A;
                                                                index2 < 5; index2++) {%>
                                                                ⚪
                                                                <%}%>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </table>
                                <td>
                                    Submited by: <%=allReviewInstancesM[index].grader%> 
                                    </td>
                            </div>
                            <%}%>
                    </div>
    </main>
    </body>

    </html>